* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameBoard {
    width: 100%;
    height:700px;
    border-bottom: 50px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#2e8fdf, #9ce3ec);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipeAnimation 1s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.nuvem {
    position: absolute;
    animation: nuvemAnimation 15s linear infinite;
    width: 500px;

}

@keyframes pipeAnimation {
    from {
        right: -90px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }
    
    100% {
        bottom: 0;
    }
}


@keyframes nuvemAnimation {
    from {
        right: -800px;
    }

    to {
        right: 100%;
    }
}